*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}


section{
    height: 100vh;
    background:black;
}

video{
    object-fit: cover;
    position: relative;
}
h1{
    margin: 0;
    padding: 0;
    position:absolute;
    top: 50%;
    color:#fff;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 5em;
    letter-spacing: 0.2em;
    /*transform: translateY(-50%);*/
}

h1 span{
    display: inline-block;
    filter: blur(2px);
    opacity: 0;
    animation: animacion 1s linear forwards;
    
}
@keyframes animacion{
    0%{
        filter: blur(50px);
        opacity: 0;
        transform: rotateY(90deg);
    }
    100%{
        filter: blur(0);
        opacity: 1;
        transform: rotateX(0deg);
    }
}

h1 span:nth-child(1){
    animation-delay:1s;
}
h1 span:nth-child(2){
    animation-delay:1.4s;
}
h1 span:nth-child(3){
    animation-delay:1.8s;
}
h1 span:nth-child(4){
    animation-delay:2.2s;
}
h1 span:nth-child(5){
    animation-delay:2.6s;
}
h1 span:nth-child(6){
    animation-delay:3s;
}
h1 span:nth-child(7){
    animation-delay:3.4s;
}
h1 span:nth-child(8){
    animation-delay:3.6s;
}
h1 span:nth-child(9){
    animation-delay:3.8s;
}
h1 span:nth-child(10){
    animation-delay:4s;

}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgb(238, 7, 7),rgb(44, 230, 20),rgb(66, 16, 206),rgb(226, 223, 21));
   mix-blend-mode: color;
}



header .logo{
    position: absolute;
    font-weight:700;
    color: rgb(129, 167, 67);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;/*Poner todas mayusculas/minusculas*/
    letter-spacing: 2px; /*separar letras*/
    transition: 9s;
}

header  #toggle{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: brown;
    z-index: 1;
}
header > #toggle::before{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 3px;
    background-color: white(228, 253, 0);
    /*Top= arriba
left
right
bottom=abajo*/
}
header > #toggle::after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 3px;
    background-color: black;
}

.banner.active header #toggle::before{
    top: 50%;
    left: 50;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle::after{
    top: 50%;
    left: 50;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: url(content/images/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;

}
.banner .active{
    transform: translateY(-400px);

}
#navigation{
    position:fixed;
    top: 0;
    right: 100px;
    width: 400px;
    height: 100vh;
    background: rgb(29, 75, 90);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 10s;
}
#navigation .active{
    right: 0;
}
#navigation ul li a{
    color: white;
    text-decoration:none;
    display:inline-block;
    font-size: 2em;
    font-weight: 700;
text-transform: uppercase;
transition: 10s;
}
.content h2{
    position: relative;
    color: rgb(184, 34, 34);
    font-size: 2.5em;
    transition: 20s;

}
.content{
    max-width: 600px;
    margin-left: 40px;
}

.content p{
    font-size: 1.2em;
    color: rgb(162, 216, 238);
    font-weight: 300;
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: blue;
    color:blue;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    
}
.redes {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100px;

}
.redes li{
    list-style: none;
}
.redes li{
    position: relative;
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    text-decoration: none;
    border: 10px solid rgb(247, 243, 243);
    margin: 10px;

}
.redes li a:hover{
    background-color: rgb(239, 241, 240);
}
.redes li a img{
    max-width: 50px;
    color: rgb(214, 193, 193);
    filter: invert(1);

}

